<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--
    <script type="module">
        import "/src/main/webapp/login.js";
    </script>
    -->

    <link rel='stylesheet' href='/webjars/bootstrap/5.2.2/css/bootstrap.min.css' type="text/css">
    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.0/jquery.min.js"></script>


    <script th:src="@{/js/login/popupNew.js}" type ="module" ></script>
    <script th:src="@{/js/login/getMetamask.js}" type ="module" defer></script>
    <script th:src="@{/js/login/login.js}" type ="module" defer> </script>
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
    <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
<!--
    <script src="../../static/js/popupNew.js" type="module" defer></script>
    <script src="../../static/js/getMetamask.js" type="module" defer></script>
    <script src="../../static/js/login.js" type="module" defer></script>
-->
   <title>Login</title>
</head>
<body>

<h2>Account: <span class="showAccount"></span></h2>

<!-- Button trigger modal -->
<button id="playBtn" type="button" class="btn btn-primary"> <!-- data-bs-toggle="modal" data-bs-target="#getMetaMaskModal"> -->
    Play
</button>

<!-- Modal -->
<div class="modal fade" id="getMetaMaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">MetaMask required</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To play this game, you are required to have MetaMask extension and a MetaMask wallet.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en" target="_blank">
                    <button id="MetaMaskBtn" class="btn btn-warning" type="button">
                        Get MetaMask
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>



</html>