<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Customized Bootstrap Stylesheet -->
  <link rel="stylesheet" type="text/css" th:href="@{../styles/login.css}"  >
<!--  <link href="assets/css/login.css" rel="stylesheet" type="text/css">-->
  <title>Document</title>
</head>

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->

    <!-- Login Form -->
    <div th:if="${param.error}">
      <p class="text-danger">Wrong User name or Password</p>
    </div>
    <form th:action="@{/login_check}" method="post">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <button type="submit" class="fadeIn fourth btn btn-primary height">Login</button>
      <a th:href="@{/registerCheck}"><button type="button" class="fadeIn fourth btn btn-primary height">Register</button> </a>
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
</body>

</html>